# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# YOLO 模型文件（太大，可重新下载）
*.pt

# 检测结果图片
*_result.jpg

# 环境
.reasonix/
.cache/
.env
.superpowers/
.browser-profile/
.yolo_config/
*.log

# VS Code
.vscode/

# 大文件 / 压缩包
*.zip

# 系统
Thumbs.db
.DS_Store

# 敏感信息
douyin_cookies.txt
.pip-cache/http-v2/0/5/c/7/0/05c707b3ea508d31870e5309bcb8e9c7a56e1fc2dfebc89692dc6458
.pip-cache/
.python_packages/
